@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL */
Link {
  text-decoration: none;
}

.grey-text {
  color: #aaaaaa;
}

.bold-text {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.margin-top-10px {
  margin-top: 10px;
}

.horizontal-margin-30 {
  margin: 0 30px 0 30px;
}

.vertical-margin-25px {
  height: 25px;
}

.row-center-horizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-row-content-center {
  justify-content: center;
}

.column-center-horizontally {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockup-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Scroll Indicator */
.scroll-indicator {
  margin-top: 50px;
}

.scroll-indicator span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #111111;
  border-right: 2px solid #111111;
  margin: -10px;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.scroll-indicator span:nth-child(1) {
  animation-delay: -0.3s;
}

.scroll-indicator span:nth-child(2) {
  animation-delay: -0.6s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Navbar */
.navbar-component {
  width: 100%;
  top: 0px;
  left: 0px;
}

.hover-nav-item:hover {
  cursor: pointer;
  border-bottom: 2px solid #111111;
}

.navbar-divider {
  top: 50px;
  left: 0px;
  width: 100%;
}

/* Home Page, Portfolio Page */
.home-page {
  margin-top: 7.5vw;
}

/* Name */
.name-component {
  margin-bottom: 5px;
}

.name {
  font-family: "Work Sans", sans-serif;
}

.name-title-size {
  font-size: 60px;
}

.name-subtitle-size {
  font-weight: bold;
  font-size: 22px;
}

/* Resume */
.resume-button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  border: 1px solid #111111;
  padding: 3px 12px;
  border-radius: 15px;
  margin-left: 10px;
}

.resume-button:hover {
  color: #ffffff;
  background-color: #111111;
  transition: 0.2s linear;
}

/* About Me */
.about-me-component {
  margin: 50px 0;
  width: 45%;
  text-align: center;
}

.about-me-title {
  font-weight: bold;
  font-size: 18px;
}

.homeplan-link {
  color: #54aa77;
}

/* Contact */
.contact-component {
  margin-bottom: 25px;
}

#phone-logo,
#google-logo {
  padding: 1px;
}

#phone-logo {
  color: #09d328;
  padding: 2px;
}

#google-logo {
  color: #de4c38;
}

#linkedin-logo {
  color: #0477b5;
}

#github-logo {
  color: #111111;
}

/* Portfolio Page */
.portfolio-title {
  font-family: "Work Sans", sans-serif;
  border-bottom: 2px solid #111111;
  padding: 0px 15px 10px;
  margin-bottom: 100px;
}

.portfolio-page {
  display: flex;
  margin-top: 100px;
  width: 100%;
  font-size: 14px;
}

.portfolio-projects {
  margin-bottom: 125px;
  width: 1000px;
}

.portfolio-subtitle p {
  font-weight: bold;
}

.portfolio-subtitle div p {
  font-weight: normal;
}

/* Title */
.brand-logo {
  margin-bottom: 10px;
}

.app-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

.brand-logo strong {
  font-size: 22px;
  font-family: "Nunito Sans", sans-serif;
}

.description {
  margin-bottom: 30px;
}

.homeplan .description p {
  color: #54aa77;
}

.badmintech .description p {
  color: #c83d58;
}

.jaret .description p {
  color: #ff7334;
}

.nutrition-tracker .description p {
  color: #5d5b9e;
}

/* Mockup */
.mockup-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup {
  height: 350px;
  width: auto;
}

.download {
  margin-top: 10px;
  height: auto;
  width: 125px;
}
.play-demo {
  padding: 5px 10px;
  border: 2px solid #047bfe;
  border-radius: 10px;
}

.play-demo .play-icon {
  margin-right: 5px;
}

/* Tech Used */
.tech-used-logo {
  height: 45px;
  width: auto;
  margin-right: 15px;
}

.tech-used-logo:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  margin: 25px 0 50px 0;
}

@media only screen and (max-width: 1000px) {
  .portfolio-projects {
    width: 800px;
  }
}

@media only screen and (max-width: 991px) {
  /* Navbar */
  .navbar-divider {
    visibility: hidden;
  }

  .navbar-component nav ul {
    background-color: #ececec;
  }

  .hover-nav-item:hover {
    border-bottom: none;
  }

  /* Mockup */
  .mockup-position {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .mockup {
    height: 300px;
  }

  .portfolio-projects {
    width: 750px;
  }
}

@media only screen and (max-width: 600px) {
  /* About Me */
  .about-me-component {
    width: 80%;
  }

  /* Portfolio */
  .portfolio-projects {
    width: 475px;
  }

  .mockup-position {
    justify-content: center;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 500px) {
  /* Home Page */
  .home-page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Name */
  .name-title-size {
    font-size: 50px;
  }

  /* Portfolio */
  .portfolio-projects {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  /* Name */
  .name-title-size {
    font-size: 40px;
  }

  .name-subtitle-size {
    font-size: 18px;
  }

  /* Portfolio */
  .portfolio-projects {
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  /* Portfolio */
  .portfolio-projects {
    width: 250px;
  }
}
